.searchBarInput {
    transition: border-color 0.2s ease, background-color 0.2s ease;
    background-color: var(--element-bg-color);
    border-radius: var(--unit-x4);
    border: var(--border-color) 2px solid;
    padding: var(--unit) var(--unit-x3);
    width: 100%;
    max-width: 500px;
    display: block;
    margin: var(--unit-x2) auto;
    font-size: 1.5rem;
    outline-style: none;
}

.searchBarInput:focus, .searchBarInput:hover {
    border-color: var(--border-color-active);
}

.searchBarInput::placeholder {
    color: var(--placeholder-font-color);
}

@media only screen and (max-width: 1024px) {
   .searchBarInput {
       font-size: 1rem;
       max-width: 400px;
    }
}