:root {
    --unit: 0.5rem;
    --unit-x2: 1rem;
    --unit-x3: 1.5rem;
    --unit-x4: 2rem;

    --font-color: #eeeeee;
    --placeholder-font-color: #989898;

    --bg-color: #313131;
    --element-bg-color: #414141;

    --border-color: #525252;
    --border-color-active: #eeeeee;
}

[data-theme="light"] {
    --font-color: #282828;
    --placeholder-font-color: #717171;

    --bg-color: #f1f1f1;
    --element-bg-color: #eae9e9;

    --border-color: #d4d7dd;
    --border-color-active: #717171;
}

* {
    color: var(--font-color);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-color);
    transition: background-color 0.2s ease;
    overflow: hidden;
}

header {
    background-color: var(--element-bg-color);
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border-color) 2px solid;
    padding: 0 var(--unit-x4);
    position: relative;
}

nav {
    border-bottom: var(--border-color) 2px solid;
}

menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--unit-x3);
    max-width: 1280px;
}

menu a {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    text-decoration: none;
    margin-right: var(--unit-x2);

}

nav h1 {
    font-size: 1.6rem;
    margin-left: var(--unit-x2);
}

main {
    overflow-y: scroll;
    height: calc(100% - 80px);
    padding: 0 var(--unit-x4);
    padding-top: var(--unit-x2);
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}

#root {
    height: 100vh;
}

.ct-toast {
    background-color: var(--border-color) !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.github-repo-link {
    margin-right: var(--unit-x2);
    transition: opacity 0.2s ease;
}

.github-repo-link:hover {
    opacity: 0.8;
}

/*MEDIA*/
@media only screen and (max-width: 1024px) {
    nav h1 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 750px) {
    nav h1 {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    main {
        padding: 0;
    }
}


/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button, input, select, textarea {
    margin: 0
}

html {
    box-sizing: border-box
}

*, *::before, *::after {
    box-sizing: inherit
}

img, video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

td:not([align]), th:not([align]) {
    text-align: left
}